// ==========================================================================
// COMPONENTS / #PANEL-LINK
// ==========================================================================

.app-pre {
  margin-bottom: 16px;
  background: #ffffff;
  border: 1px solid #d8dde0;
  overflow: auto;
  margin-top: 0;
  padding: 16px;
  position: relative;
}
@media (min-width: 40.0625em) {
  .app-pre {
    margin-bottom: 24px;
  }
}

li .app-code,
p .app-code {
  background: #ffffff;
  border: 1px solid #d8dde0;
  padding: 4px 16px;
  font-size: 0.8em;
}
