{% extends 'layout.html' %} {% block pageTitle %} BSS Prototype test{% endblock
%} {% block beforeContent %}
<header>
  <div class="bss-page-header">
    <div>
      <h1 class="bss-h1">Breast Screening Select</h1>
    </div>
    <div class="bss-header-mini-nav">
      <p>Logged in as: <strong>BSS_uSER-oe_so1</strong></p>
      <ul class="bss-header-links">
        <li><a href="#">Home page</a></li>
        <li><a href="#">Logout</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">User guide</a></li>
        <li><a href="#">Release notes</a></li>
      </ul>
    </div>
  </div>
  <nav class="bss-header-nav">
    <ul class="bss-nav-links">
      <li><a href="#" class="nav-link">Subject search</a></li>
      <li><a href="#" class="nav-link">Batch management</a></li>
      <li><a href="#" class="nav-link">Outcome list</a></li>
      <li><a href="#" class="nav-link">Parameters</a></li>
      <li><a href="#" class="nav-link">BSO Mapping</a></li>
      <li><a href="#" class="nav-link">BSO Contact list</a></li>
      <li><a href="#" class="nav-link">Monitoring reports</a></li>
      <li><a href="#" class="nav-link">Failsafe reports</a></li>
      <li><a href="#" class="nav-link">Estimating</a></li>
      <li><a href="#" class="nav-link">Round planning</a></li>
    </ul>
  </nav>
</header>

{% endblock %}

<!-- body -->

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <!-- Add your content here -->
    <body class="bss-body">
      <main class="bss-main">
        <h1>Screening cohort list</h1>
        <h2>
          Your unassigned cohort contains subjects that need to be assigned
        </h2>
      </main>
    </body>
  </div>
</div>
{% endblock %}
