
{% set serviceName = "NHS App" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  {{ contentTitle }} - {{ serviceName }}
{% endblock %}



<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}



<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
  "href": "/prototyping-guides/index",
  "text": "Go back"
}) }}
      <h1>Building a test Page
      </h1>



      <h2>This is a table</h2>

      <table role="table" class="nhsuk-table-responsive">
        <caption class="nhsuk-table__caption">Random table title</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Age
            </th>
            <th role="columnheader" class="" scope="col">
              How much
            </th>
            <th role="columnheader" class="" scope="col">
              How often
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Age </span>7 to 9 years
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">How much? </span>200mg
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">How often? </span>Max 3 times in 24 hours
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Age </span>10 to 11 years
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">How much? </span>200mg to 300mg
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">How often? </span>Max 3 times in 24 hours
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Age </span>12 to 17 years
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">How much? </span> filler information
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">How often? </span>Max 3 times in 24 hours
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="nhsuk-u-padding-top-9">This is a nested grid</h2>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, voluptates fugit animi aliquam aut nesciunt ratione saepe rerum deleniti mollitia tempora dicta dignissimos voluptas, repudiandae voluptatem, impedit aliquid dolore. Ipsum!</p>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium assumenda.</p>
            </div>
            <div class="nhsuk-grid-column-one-half">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, tempore voluptas autem sit</p>
            </div>
          </div>
        </div>
      </div>









    </div>
  </div>
{% endblock %}

<!-- test comment -->
